* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  width: 100%;
}

body {
  background: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.levels {
  width: 480px;
  margin: 50px auto;
}

.levels .level {
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 4px;
  opacity: 0.4;
}

.levels .level .name {
  font-size: 24px;
  color: white;
}

.levels .level .preview {
  margin: 20px 0;
  width: 100%;
}

.levels .level .lock {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
}

.levels .level .play {
  margin-top: 200px;
  font-size: 20px;
  padding: 8px 20px;
  border: 1px solid #333;
  background: grey;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: not-allowed;
}

.levels .level.available {
  opacity: 1;
}

.levels .level.available .lock {
  display: none;
}

.levels .level.available button {
  cursor: pointer;
  background: deepskyblue;
}

.levels .level.available button:hover {
  color: white;
  background: #00ace6;
}

.menu {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.menu.active {
  display: block;
}

.menu a {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#66d9ff), to(deepskyblue));
  background: linear-gradient(#66d9ff, deepskyblue);
  border-radius: 16px;
}

.menu a img {
  width: 48px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  background: black;
}

.preloader .content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  background: white;
}

.preloader .content img {
  width: 100%;
  display: block;
}

.preloader .content p {
  position: relative;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 0 5px deepskyblue;
  background: black;
  color: deepskyblue;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}

.preloader .content p:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  -webkit-animation: Loading 10s;
          animation: Loading 10s;
}

@-webkit-keyframes Loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes Loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

canvas {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  canvas {
    display: none;
  }
}

@media (max-height: 800px) {
  canvas {
    display: none;
  }
}

.mobile-warning {
  display: none;
}

@media (max-width: 800px) {
  .mobile-warning {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
  }
  .mobile-warning .content {
    position: absolute;
    width: 240px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 20px;
    background: black;
    border-radius: 8px;
  }
  .mobile-warning .content p {
    font-size: 20px;
    line-height: 30px;
    color: white;
  }
  .mobile-warning .content img {
    width: 100%;
  }
}

@media (max-height: 800px) {
  .mobile-warning {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
  }
  .mobile-warning .content {
    position: absolute;
    width: 240px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 20px;
    background: black;
    border-radius: 8px;
  }
  .mobile-warning .content p {
    font-size: 20px;
    line-height: 30px;
    color: white;
  }
  .mobile-warning .content img {
    width: 100%;
  }
}

.settings {
  background: white;
  font-size: 20px;
  width: 800px;
  margin: auto;
  padding: 20px;
}

@media (max-width: 800px) {
  .settings {
    display: none;
  }
}

@media (max-height: 800px) {
  .settings {
    display: none;
  }
}

.settings section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid black;
  margin: 10px 0;
  padding: 10px;
}

.settings section input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.settings .restore {
  text-align: center;
  padding: 10px;
}

.settings .restore button {
  cursor: pointer;
  font-size: 14px;
  border: 2px solid black;
  padding: 10px;
  display: inline-block;
  background: red;
  color: white;
  text-shadow: 0 0 5px black;
}

.shop {
  background: white;
  font-size: 20px;
  width: 800px;
  margin: auto;
  padding: 20px;
}

@media (max-width: 800px) {
  .shop {
    display: none;
  }
}

@media (max-height: 800px) {
  .shop {
    display: none;
  }
}

.shop .money img {
  width: 20px;
}

.shop .upgrades section {
  border-bottom: 2px solid black;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop .upgrades section.active {
  background: -webkit-gradient(linear, left top, left bottom, from(green), to(lightgreen));
  background: linear-gradient(green, lightgreen);
}

.shop .upgrades section .price,
.shop .upgrades section .buy {
  width: 25%;
}

.shop .upgrades section .icon {
  width: 10%;
}

.shop .upgrades section .icon img {
  width: 48px;
}

.shop .upgrades section .description {
  padding: 0 20px;
  width: 40%;
  font-size: 16px;
}

.shop .upgrades section .buy button {
  cursor: pointer;
  padding: 10px;
  border: 2px solid black;
  background: -webkit-gradient(linear, left top, left bottom, from(green), to(lightgreen));
  background: linear-gradient(green, lightgreen);
}
