.levels {
  width: 900px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .level {
    width: 32%;
    background-size: cover;
    background-position: 0% 50%;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    opacity: 0.4;
    transition: 0.7s;
    .play {
      pointer-events: auto;
    }
    .name {
      font-weight: bold;
      font-family: cursive;
      margin-bottom: 20px;
      text-shadow: 1px 2px 3px rgba(black, 0.5);
      font-size: 24px;
      color: white;
    }
    .preview {
      margin: 20px 0;
      width: 100%;
    }
    .lock {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 32px;
      height: 32px;
    }
    .description {
      display: none;
      text-shadow: 1px 2px 3px black;
      color: white;
      font-size: 20px;
      img {
        position: relative;
        top: 4px;
        width: 24px;
      }
      &:before {
        content: "(";
      }
      &:after {
        content: ")";
      }
    }
    .play {
      margin-top: 200px;
      font-size: 20px;
      padding: 8px 20px;
      border: 1px solid #333;
      background: grey;
      border-radius: 4px;
      transition: 0.3s;
      cursor: not-allowed;
    }
  }
  .level.available {
    opacity: 1;
    // hack to animate on parent after hovering a chlid
    pointer-events: none;
    &:hover {
      background-position: 100% 50%;
      border-radius: 20px;
    }
    .lock {
      display: none;
    }
    .description {
      display: block;
    }
    button {
      cursor: pointer;
      background: deepskyblue;
      &:hover {
        color: white;
        background: darken(deepskyblue, 5%);
      }
    }
  }
}
