.menu {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  &.active {
    display: block;
  }
  a {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background: linear-gradient(lighten(deepskyblue, 20%), deepskyblue);
    border-radius: 16px;
    &.showtip {
      .tip {
        animation: showUp 5s;
        display: block;
      }
    }
    .tip {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-15%, -125%);
      border: 2px solid white;
      border-radius: 8px;
      padding: 8px;
      color: white;
      background: black;
      z-index: -1;
      display: none;
      @keyframes showUp {
        from {
          background: black;
          color: white;
        }
        20% {
          background: white;
          color: black;
        }
        40% {
          background: black;
          color: white;
        }
        60% {
          background: white;
          color: black;
        }
        80% {
          background: black;
          color: white;
        }
        to {
          background: white;
          color: black;
        }
      }
    }
    > img {
      width: 48px;
    }
  }
}
