.menu {
  position: fixed;
  right: 20px;
  bottom: 20px;
  &.active {
    display: block;
  }
  a {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background: linear-gradient(lighten(deepskyblue, 20%), deepskyblue);
    border-radius: 16px;
    img {
      width: 48px;
    }
  }
}
