.settings {
  background: white;
  font-size: 20px;
  width: 800px;
  margin: auto;
  padding: 20px;
  @include responsive(800px, 800px) {
    display: none;
  }
  section {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px;
    p {
    }
    input {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }
  .restore {
    text-align: center;
    padding: 10px;
    button {
      cursor: pointer;
      font-size: 14px;
      border: 2px solid black;
      padding: 10px;
      display: inline-block;
      background: red;
      color: white;
      text-shadow: 0 0 5px black;
    }
  }
}

.settings-homepage {
  margin-top: 20px;
  text-align: center;
  a {
    border: 2px dotted white;
    padding: 5px 10px;
    font-size: 24px;
    color: white;
    transition: 0.7s;
    &:hover {
      border: 2px solid white;
    }
  }
}
