.shop {
  font-size: 20px;
  width: 800px;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  @include responsive(800px, 800px) {
    display: none;
  }
  .money {
    background: white;
    padding: 10px;
    display: flex;
    align-items: center;
    img {
      margin: 0 8px;
      width: 20px;
    }
  }
  .upgrades {
    section {
      background: linear-gradient(white, lightgray);
      border-bottom: 2px solid black;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.disabled {
        .buy {
          button {
            pointer-events: none;
            background: linear-gradient(grey, lightgray);
          }
        }
      }
      &:first-child {
        background: white;
      }
      &:last-child {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
      &.bought {
        background: linear-gradient(lightgreen, lighten(green, 10%));
      }
      &.active {
        background: linear-gradient(green, lightgreen);
      }
      .price,
      .buy {
        width: 20%;
      }
      .icon {
        width: 10%;
        img {
          width: 48px;
        }
      }
      .description {
        padding: 0 20px;
        width: 50%;
      }
      .price {
        text-align: center;
      }
      .buy {
        text-align: right;
        button {
          cursor: pointer;
          padding: 10px;
          border: 2px solid black;
          background: linear-gradient(green, lightgreen);
        }
      }
    }
  }
  .homepage {
    margin-top: 20px;
    text-align: center;
    a {
      border: 2px dotted white;
      padding: 5px 10px;
      font-size: 24px;
      color: white;
      transition: 0.7s;
      &:hover {
        border: 2px solid white;
      }
    }
  }
}
